*.ipynb_checkpoints
*egg-info

segtopcg/config/
segtopcg/config_templates/generate_config.py
temp/

segtopcg/daisy_logs

segtopcg/*.json
segtopcg/*.txt

segtopcg/.ipynb_checkpoints
segtopcg/__pycache__
